div.saleCard {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

div.saleCard span.title {
    font-weight: bold;
    margin: 10px 10px;
}

div.saleCard div {
    margin: 5px;
}

div.saleCard button {
    margin: 5px;
}

h3 { margin: 10px; text-align: center;}

