div#container {
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

div#container > button {
    width: 200px;
    margin-top: 10px;
}


