<div id="container">
    <button (click)="addRecord()">Adicionar Registro</button>


    <h3>Total R$: {{totalCashier.toFixed(2)}}</h3>

    <table>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço</th>
        </tr>
        <tr *ngFor="let cash of cashierProducts">
            <td>                                            
                <select [(ngModel)]="cash.productId">
                    <option *ngFor="let prod of products" [value]="prod.id">
                        {{prod.name}}
                    </option>
                </select>
            </td>
            <td><input type="number"  min="0" [(ngModel)]="cash.amount" (change)="updateTotalValueCashier()"/></td>
            <td><input type="number" disabled [value]="updateTotalValueRecord(cash.idDate)"/></td>
        </tr>
    </table>

    

    <button (click)="addNewSale()" [disabled]="!checkIfRecordCanBeSaved()">Registrar Venda</button>    
</div>
