<div id="container">
    <button (click)="addRecord()">{{translateService.translate('sales-manager-add-record')}}</button>


    <h3>{{translateService.translate('sales-manager-total-value')}}{{totalCashier.toFixed(2)}}</h3>

    <table>
        <tr>
            <th>{{translateService.translate('sale-receipt-table-product')}}</th>
            <th>{{translateService.translate('sale-receipt-table-amount')}}</th>
            <th>{{translateService.translate('sale-receipt-table-price-only')}}</th>
        </tr>
        <tr *ngFor="let cash of cashierProducts">
            <td>                                            
                <select [(ngModel)]="cash.productId">
                    <option *ngFor="let prod of products" [value]="prod.id">
                        {{prod.name}}
                    </option>
                </select>
            </td>
            <td><input type="number"  min="0" [(ngModel)]="cash.amount" (change)="updateTotalValueCashier()"/></td>
            <td><input type="number" disabled [value]="updateTotalValueRecord(cash.idDate)"/></td>
        </tr>
    </table>

    

    <button (click)="addNewSale()" [disabled]="!checkIfRecordCanBeSaved()">{{translateService.translate('sales-manager-save-record')}}</button>    
</div>
