<div id="container">    

    <button (click)="addProduct()">{{translateService.translate('products-manager-add-products')}}</button>

    <table>
        <tr>
            <th>{{translateService.translate('products-manager-table-description')}}</th>
            <th>{{translateService.translate('products-manager-table-value')}}</th>
        </tr>
        <tr *ngFor="let prod of products">
            <td><input type="text" [(ngModel)]="prod.name"/></td>
            <td><input type="number" min="0.00" step="0.01"  class="inputNumber" [(ngModel)]="prod.price"/></td>
            <td><button (click)="deleteProduct(prod.id)">-</button></td>
        </tr>
    </table>        

    <button (click)='update()' [disabled]="!checkIfUpdateIsNeeded()">{{translateService.translate('products-manager-button-update')}}</button>
</div>
