<div id="container">    

    <button (click)="addProduct()">Adicionar Produto</button>

    <table>
        <tr>
            <th>Descrição</th>
            <th>Valor</th>
        </tr>
        <tr *ngFor="let prod of products">
            <td><input type="text" [(ngModel)]="prod.name"/></td>
            <td><input type="number" min="0.00" step="0.01"  class="inputNumber" [(ngModel)]="prod.price"/></td>
            <td><button>-</button></td>
        </tr>
    </table>        

    <button (click)='update()' [disabled]="!checkIfUpdateIsNeeded()">Atualizar</button>
    
</div>
