div#container {
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

div#container > button {
    width: 200px;
    margin-top: 10px;
}

td {
    border-top: 1px solid #000;
}

td, th {
    text-align: center;
    padding: 5px 10px;
}

label {
    display: block;
    margin: 10px;
}


input.inputNumber {
    width: 70px;
}