/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #FEEBCA}

@import '~@angular/material/prebuilt-themes/indigo-pink.css';


button {
    background: #4D4B30;
    color: white;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px grey;
    cursor: pointer;
}

button:hover {
    background: #908660
}

button:disabled {
    background: #4D4B30;
    color: #908660;
    border-color: #908660;
}

table {
    border: 1px solid #000;
    margin: 0 auto;
    background: #F4CCA6;
}

table {
    border: 1px solid #000;
}

td {
    border-top: 1px solid #000;    
}

td, th {
    text-align: center;
    padding: 5px 10px;    
}

td input, select, td {    
    text-align: center !important;
}

td input[type="number"] {
    width: 70px;
}

h3 { margin: 10px !important; text-align: center !important; font-weight: bold !important;}