<div class="container">
    <span class="title">Data: {{formatDate(sales[0].idDate)}}</span>
    <span class="title">Hora: {{formatHour(sales[0].idDate)}}</span>

    <table>
        <tr>
            <th>Qtd</th>
            <th>Produto</th>
            <th>Preço Unit.</th>
            <th>Total</th>
        </tr>
        
        
        <tr *ngFor="let s of sales">
            <td>{{s.amount}}</td>
            <td>{{getProductName(s.productId)}}</td>
            <td>{{getProductPrice(s.productId)}}</td>
            <td>{{getProductTotalPrice(s.productId, s.amount)}}</td>
        </tr>

        <tr>
            <td colspan="3">Total</td>
            <td>{{getTotalSaleValue()}}</td>
        </tr>
        
    </table>
</div>